{% extends 'base.html.twig' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}
    <!-- En-tête principale -->
    <div class="row my-5">
        <div class="col-md-12">
            <!-- Bouton de navigation pour retourner à la page d'accueil -->
            <div class="my-3 d-flex justify-content-start align-items-center">
                <a href="{{ path('order_store',{product: product.id}) }}" class="btn btn-sm btn-outline-dark mx-1">
                    Order now
                </a>
            </div>
            <!-- Section principale : affichage du produit -->
            <div class="row">
                {% if product %}
                    <div class="col-md-4">
                        <!-- Carte produit -->
                        <div class="card" style="width: 100%; height: 100%">
                            <!-- Image du produit -->
                            {% if product.image %}
                                <img src="{{ asset('uploads/images/' ~ product.image) }}"
                                     alt="{{ product.name }}" 
                                     class="card-img-top">
                        
                            {% endif %}
                            
                            <!-- Contenu de la carte -->
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <h5>
                                    <span class="text text-danger">{{ product.price }}€</span>
                                </h5>
                                <h5>
                                    
                                    <span class="text text-success">{{ product.category.name }}</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- Message si aucun produit n'est trouvé -->
                    <div class="alert alert-info">
                        No product found!
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
