{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} mt-3">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
        
    <div class="card my-5">
        <div class="card-header ">  
            Orders List
        </div>
        <div class="card-body">
            <!-- Tableau des produits -->
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ order.pname }}</td>
                            <td>{{ order.price }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ order.status }}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item" 
                                                href="{{ path('order_status_update', {order: order.id, status: 'shipped'}) }}">
                                                Shipped
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" 
                                                href="{{ path('order_status_update', {order: order.id, status: 'rejected'}) }}">
                                                Rejected
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
{% endblock %}
